In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("summer.csv")

In [3]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [4]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [5]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

iloc used for position based indexing

In [6]:
type(summer.iloc[0])

pandas.core.series.Series

In [7]:
summer.iloc[1]

Year                      1896
City                    Athens
Sport                 Aquatics
Discipline            Swimming
Athlete       HERSCHMANN, Otto
Country                    AUT
Gender                     Men
Event           100M Freestyle
Medal                   Silver
Name: 1, dtype: object

In [8]:
summer.iloc[-1]

Year                         2012
City                       London
Sport                   Wrestling
Discipline    Wrestling Freestyle
Athlete            LIDBERG, Jimmy
Country                       SWE
Gender                        Men
Event                    Wg 96 KG
Medal                      Bronze
Name: 31164, dtype: object

In [9]:
summer.iloc[[1, 2, 3]]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold

In [10]:
summer.iloc[1:4]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold

In [11]:
summer.iloc[0:4]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold

In [12]:
summer.iloc[-5:]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [13]:
summer.iloc[:]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [14]:
summer.iloc[[2, 45, 5467]]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
45,1896,Athens,Athletics,Athletics,"PERSAKIS, Ioannis",GRE,Men,Triple Jump,Bronze
5467,1928,Amsterdam,Gymnastics,Artistic G.,"POLAK, Ans",NED,Women,Team Competition,Gold

In [15]:
summer.head(10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold

In [16]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [17]:
summer.iloc[0,5]

'HUN'

In [18]:
summer.iloc[[0, 5]]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze

In [19]:
summer.iloc[0, :3]

Year         1896
City       Athens
Sport    Aquatics
Name: 0, dtype: object

In [20]:
summer.iloc[0, [1, 3, 6, 8]]

City            Athens
Discipline    Swimming
Gender             Men
Medal             Gold
Name: 0, dtype: object

In [21]:
summer.iloc[34:39, [1, 3, 6, 8]]

      City Discipline Gender   Medal
34  Athens  Athletics    Men  Silver
35  Athens  Athletics    Men  Bronze
36  Athens  Athletics    Men    Gold
37  Athens  Athletics    Men  Silver
38  Athens  Athletics    Men  Bronze

In [22]:
summer.iloc[:, 4]

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [23]:
summer.iloc[:, 5].equals(summer.Country)

True

In [28]:
summer["Country"]

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
31160    POL
31161    IRI
31162    RUS
31163    ARM
31164    SWE
Name: Country, Length: 31165, dtype: object

In [29]:
summer.iloc[2]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Athlete                DRIVAS, Dimitrios
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: 2, dtype: object

In [32]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [35]:
summer.loc[4]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Athlete               CHASAPIS, Spiridon
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Silver
Name: 4, dtype: object

In [36]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [37]:
summer.loc["DRIVAS, Dimitrios"]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [38]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [39]:
summer.loc["PHELPS, Michael"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Freestyle,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Butterfly,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Freestyle,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X200M Freestyle,Gold

range index is usually better for keeping a PK that's unique

In [41]:
summer.loc[["PHELPS, Michael", "LEWIS, Carl"], ["Medal", "Event"]]

                  Medal                   Event
Athlete
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael  Bronze          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael  Bronze  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael    Gold          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael    Gold  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael  Silver          200M Butterfly
PHELPS, Michael    Gold             200M Medley
PHELPS, Michael  Silver        4X100M Freestyle
PHELPS, Michael    Gold           4X100M Medley
PHELPS, Michael    Gold        4X200M Freestyle
LEWIS, Carl        Gold                    100M
LEWIS, Carl        Gold                    200M
LEWIS, Carl        Gold            4X100M Relay
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold                    100M
LEWIS, Carl      Silver                    200M
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold            4X100M Relay
LEWIS, Carl        Gold               Long Jump
LEWIS, Carl        Gold               Long Jump

In [42]:
summer.loc[:, ["Medal", "Event"]]

                            Medal                       Event
Athlete
HAJOS, Alfred                Gold              100M Freestyle
HERSCHMANN, Otto           Silver              100M Freestyle
DRIVAS, Dimitrios          Bronze  100M Freestyle For Sailors
MALOKINIS, Ioannis           Gold  100M Freestyle For Sailors
CHASAPIS, Spiridon         Silver  100M Freestyle For Sailors
...                           ...                         ...
JANIKOWSKI, Damian         Bronze                    Wg 84 KG
REZAEI, Ghasem Gholamreza    Gold                    Wg 96 KG
TOTROV, Rustam             Silver                    Wg 96 KG
ALEKSANYAN, Artur          Bronze                    Wg 96 KG
LIDBERG, Jimmy             Bronze                    Wg 96 KG

[31165 rows x 2 columns]

In [43]:
summer.head(10)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold

In [45]:
summer.loc[:"CHASAPIS, Spiridon"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

With iloc, left boundary is included and right boundary excluded.

With loc, left AND right boundary is included.

summer.loc[:"PHELPS, Michael"] would not work because PHELPS... is not unique for slicing

In [47]:
summer.head(20)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver

In [49]:
summer.loc["DRIVAS, Dimitrios":"BLAKE, Arthur"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver

In [50]:
summer.loc["DRIVAS, Dimitrios":"BLAKE, Arthur", "City":"Discipline"]

                         City      Sport Discipline
Athlete
DRIVAS, Dimitrios      Athens   Aquatics   Swimming
MALOKINIS, Ioannis     Athens   Aquatics   Swimming
CHASAPIS, Spiridon     Athens   Aquatics   Swimming
CHOROPHAS, Efstathios  Athens   Aquatics   Swimming
HAJOS, Alfred          Athens   Aquatics   Swimming
ANDREOU, Joannis       Athens   Aquatics   Swimming
CHOROPHAS, Efstathios  Athens   Aquatics   Swimming
NEUMANN, Paul          Athens   Aquatics   Swimming
PEPANOS, Antonios      Athens   Aquatics   Swimming
LANE, Francis          Athens  Athletics  Athletics
SZOKOLYI, Alajos       Athens  Athletics  Athletics
BURKE, Thomas          Athens  Athletics  Athletics
HOFMANN, Fritz         Athens  Athletics  Athletics
CURTIS, Thomas         Athens  Athletics  Athletics
GOULDING, Grantley     Athens  Athletics  Athletics
LERMUSIAUX, Albin      Athens  Athletics  Athletics
FLACK, Edwin           Athens  Athletics  Athletics
BLAKE, Arthur          Athens  Athletics  Athletics

## Indexing and Slicing with reindex()

In [51]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [53]:
summer = pd.read_csv("summer.csv")

In [54]:
summer.loc[[0, 5, 30000], ["Athlete", "Medal"]]

                     Athlete   Medal
0              HAJOS, Alfred    Gold
5      CHOROPHAS, Efstathios  Bronze
30000       PAUTARAN, Maryna  Bronze

In [57]:
summer.reindex(index = [0, 5, 30000, 40000], columns = ["Athlete", "Medal", "Age"])

                     Athlete   Medal  Age
0              HAJOS, Alfred    Gold  NaN
5      CHOROPHAS, Efstathios  Bronze  NaN
30000       PAUTARAN, Maryna  Bronze  NaN
40000                    NaN     NaN  NaN

This does not work if you do not have a unique index

In [58]:
summer.iloc[10:21]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze

In [62]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [63]:
summer.loc["LEWIS, Carl"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,100M,Gold
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,200M,Gold
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,4X100M Relay,Gold
"LEWIS, Carl",1984,Los Angeles,Athletics,Athletics,USA,Men,Long Jump,Gold
"LEWIS, Carl",1988,Seoul,Athletics,Athletics,USA,Men,100M,Gold
"LEWIS, Carl",1988,Seoul,Athletics,Athletics,USA,Men,200M,Silver
"LEWIS, Carl",1988,Seoul,Athletics,Athletics,USA,Men,Long Jump,Gold
"LEWIS, Carl",1992,Barcelona,Athletics,Athletics,USA,Men,4X100M Relay,Gold
"LEWIS, Carl",1992,Barcelona,Athletics,Athletics,USA,Men,Long Jump,Gold
"LEWIS, Carl",1996,Atlanta,Athletics,Athletics,USA,Men,Long Jump,Gold

In [64]:
summer.loc["LEWIS, Carl", ["Year", "Event", "Medal"]]

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

This is best practice ^

In [65]:
type(summer)

pandas.core.frame.DataFrame

In [66]:
summer["Year"]

Athlete
HAJOS, Alfred                1896
HERSCHMANN, Otto             1896
DRIVAS, Dimitrios            1896
MALOKINIS, Ioannis           1896
CHASAPIS, Spiridon           1896
                             ...
JANIKOWSKI, Damian           2012
REZAEI, Ghasem Gholamreza    2012
TOTROV, Rustam               2012
ALEKSANYAN, Artur            2012
LIDBERG, Jimmy               2012
Name: Year, Length: 31165, dtype: int64

In [67]:
type(summer["Year"])

pandas.core.series.Series

In [68]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [69]:
type(summer.columns)

pandas.core.indexes.base.Index

In [70]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [71]:
type(summer.index)

pandas.core.indexes.base.Index